{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
<!--        page content-->
<div class="row">
  <div class="col-4">
    <h2>New question</h2>
  </div>
</div>
<div class="row bg-body-tertiary border rounded-3 question">
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form%}


    {% buttons %}
    <button type="submit" class="btn btn-primary float-end">Ask!</button>
    {% endbuttons %}
<!--    <button type="submit" class="btn btn-primary">Ask!</button>-->
  </form>
</div>
{% endblock%}