{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row  question">

  <div class="row">
    <div class="col-3 ">
      <img class="" src="{% static 'img/avatar_placeholder.jpg' %}" width="150" height="150" alt="avatar">
    </div>
    <div class="col-9">

      <div class="question-title">
        <h2 >{{ question.title }}</h2>
      </div>
      <div class="question-text">
        {{question.content}}
      </div>
    </div>
  </div>
  <div class="row post-bottom-line">

    <div class="col-3 d-flex align-content-end gap-4">
      <h3 class="centered-h">{{question.likes}}</h3>
      <button type="button" class="btn btn-outline-danger ">Like</button>
    </div>
    <div class="col-5 d-flex align-items-center gap-2">
      <h5 class="centered-h">Tags: </h5>
      {% for tag in question.tags %}
      <a href="{% url 'tag' tag.name%}">
      <span class="badge p-2 text-bg-primary rounded-pill " >{{tag.name|truncatechars:16}}</span>
      </a>
      {% endfor%}
    </div>
  </div>

</div>
{% for answer in answers %}
{% include 'components/answer-item.html' %}
{% endfor %}

<!--        Pagination-->
{% include 'components/paginator.html' %}

<div class="row bg-body-tertiary  rounded-3 mb-3 answer-field">
  <form>
    <div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label"><h4>Write answer</h4> </label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
</div>
    <div class="float-end">
      <button type="submit" class="btn btn-primary" >Answer</button>
    </div>
  </form>
</div>
{% endblock %}
