
{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
<!--        page content-->
        <div class="row">
          <div class="col-6">
            <h2>Settings: <span>{{base.user.username}}</span></h2>
          </div>
        </div>
        <div class="row bg-body-tertiary border rounded-3 question">
          <form action="{% url 'settings'%}" method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            {% bootstrap_form form %}
              {%if request.user.profile.avatar%}
            <div class="col-sm-2">
                <img src="{{base.MEDIA_URL}}{{request.user.profile.avatar}}" class="avatar-preview">
            </div>
              {%else%}
            <div class="col-sm-2">
                <img src="{% static 'img/avatar_placeholder.jpg' %}" class="avatar-preview">
            </div>
              {%endif%}

            {% buttons %}
            <button type="submit" class="btn btn-primary float-end">Save</button>
            {% endbuttons %}
          </form>
        </div>

{% endblock %}