{% load static %}
<div class="row bg-body-tertiary border rounded-3 question">
  <div class="row">
    <div class="col-2 ">
      <img class="question-avatar" src="{% static 'img/avatar_placeholder.jpg' %}" alt="avatar">
    </div>
    <div class="col-10">
      <div class="question-text">
        {{ answer.content}}
      </div>
    </div>
  </div>
  <div class="row post-bottom-line">

    <div class="col-2 d-flex align-items-center gap-3">
      <h4 class="centered-h">{{answer.likes_count}}</h4>
      <button type="button" class="btn btn-outline-danger btn-sm">Like</button>
    </div>
    <div class="col-9"></div>
    <div class="col-1 d-flex align-items-center">
        <input type="checkbox" class="btn-check" id="btncheck" autocomplete="off">
        <label class="btn btn-outline-primary btn-sm" for="btncheck">Correct</label>
    </div>
  </div>

</div>